@import url('https://fonts.googleapis.com/css?family=Silkscreen:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Silkscreen', sans-serif;
    margin-top:5%;
    text-align: center;
}

h2, h3{
    margin-left:2%;
  }

p{
    margin-left:3%;
}

header{
    background-color: #4ce4a8;
    width: 100%;
    position: absolute;
    top: 0;
    text-decoration: none;
}

header ul{
    text-align: center;
}

header li{
    display: inline;
    padding: 1em;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}


footer{
    background-color: #4ce4a8;
    width: 100%;
    bottom: 0;
    margin-top: auto;
    text-decoration: none;
    display: block;
    height:70px;
}

footer p{
    text-align: center;
    padding-top:1.5em;
}

@media screen and (width >= 800px) {
    header li{
        padding: 4em;
    }
}