#sujet{
    text-align: justify;
    padding: 2em;
    text-decoration: none;
    background-image: url('/data/arbre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraphe{
    text-align: justify;
    padding: 2em;
    text-decoration: none;
    background-color: #B0F2B6;
    border-radius: 20px;
}