#sujet{
    text-align: justify;
    padding: 2em;
    text-decoration: none;
    background-image: url('../data/arbre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.paragraphe{
    text-align: justify;
    padding: 2em;
    text-decoration: none;
    background-color: #B0F2B6;
    border-radius: 20px;
}

#mission{
    border-color: #B0F2B6;
    border-style: solid;
    border-radius: 20px;
    margin: 2em;
}

#menu{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-bottom: 7%;
}

.menu{
    text-align: center;
    margin: 2em;
    text-decoration: none;
    background-color: #B0F2B6;
    border-radius: 20px;
}

img{
    grid-template-columns: auto auto;
    display: block;
    width: 30%;
    margin: auto;
}

h1{
    color: white;
}

@media screen and (width < 1000px){
    #menu{
        grid-template-columns: auto;
    }
}