.acteurs img{
    align-items: center;
    height: 100px;
}

.acteurs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2em;
}

#photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2em;
}

@media screen and (width>=1000px){
    .acteurs{
        display: grid;
        grid-template-columns: auto auto auto auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 2em;
    }    
}

#fonte_glace img {
    margin-left: 15px;
    height: 250px;
    width: 300px;
}

#inondation img {
    height: 250px;
    width: 300px;
}

#incendie img {
    height: 250px;
    width: 300px;
}

