#chauffage img{
    height: 250px;
    width: 500px;
}

#reboisement img{
    margin-left: 15px;
    height: auto;
    width: auto;
}

#contenu{
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}